[submodule "src/libretro-common"]
	path = src/libretro-common
	url = git@github.com:libretro/libretro-common.git
[submodule "src/libretro-arb"]
	path = src/libretro-arb
	url = git@github.com:libretro/libretro-arb.git
[submodule "libretro-super"]
	path = libretro-super
	url = https://github.com/libretro/libretro-super.git
