data/org.colinkinloch.emulatron.gschema.xml
src/libretro-cores/vba-next/Makefile
*.o
src/emulatron
src/emu-resources.c
src/emu-resources.h
src/*-system-resources.c
src/resources/emu.gresource.xml
src/resources/gtk/menus.ui
m4
libtool
config.h
config.h.in
config.lt
config.status
aclocal.m4
build
build-aux
*.log
Makefile.in
Makefile.am.user
Makefile
configure
autom4te.cache
stamp-h1
.deps
.dirstamp
