.wood
{
  background-image: url("resource:///org/colinkinloch/emulatron/img/controls_background@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wood GtkImage
{
  transition: duration 10ms;
}
.wood GtkToggleButton
{
  background: alpha(#fff, 0.1) -gtk-gradient(linear, 0 0, 0 1, from(alpha(#fff,0.2)), color-stop(0.6,alpha(#000, 0)), to(alpha(#000, 0.3)));
  color: black;
  text-shadow: 0 1 alpha(white, 0.4);
}
.wood GtkToggleButton:hover
{
  background: alpha(#fff, 0.2) -gtk-gradient(linear, 0 0, 0 1, from(alpha(#fff,0.2)), color-stop(0.6,alpha(#000, 0)), to(alpha(#000, 0.3)));
}
.wood GtkCellView
{
  color: black;
  text-shadow: 0 1 alpha(white, 0.4);
}
.wood GtkMenuItem
{
  background: alpha(#fff, 0.1);
}
.wood GtkMenuItem:hover
{
  background: alpha(#fff, 0.7);
}
.wood GtkEntry
{
  background: alpha(#fff, 0.1) -gtk-gradient(linear, 0 0, 0 1, to(alpha(#fff,0.1)), color-stop(0.2,alpha(#000, 0)), color-stop(0.8,alpha(#000, 0)), from(alpha(#000, 0.3)));
  color: black;
  text-shadow: 0 1 alpha(white, 0.4);
}
.wood GtkEntry:focus
{
  background: alpha(#fff, 0.2) -gtk-gradient(linear, 0 0, 0 1, to(alpha(#fff,0.1)), color-stop(0.2,alpha(#000, 0)), color-stop(0.8,alpha(#000, 0)), from(alpha(#000, 0.3)));
}
.wood GtkLabel
{
  color: black;
  text-shadow: 0 1 alpha(white, 0.4);
}
.wood GtkTreeMenu
{
  background:url("resource:///org/colinkinloch/emulatron/img/controls_background@2x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.wood GtkFrame
{
  border-radius: 5px;
  box-shadow: inset 0 0 4px alpha(black, 0.5);
}
